/* Hero Section */
.hero {
  height: 300px;
  background-image: url('../../assets/hero_banner.jpeg');
  background-size: cover;
  background-position: center;
  justify-content: right;
}

.hero-cta {
  text-align: right;
  align-self: flex-end;
  margin: 1.5%;
  color: var(--primary-color);
  font-size: 2em;
  line-height: 1.2;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
