:root {
  --primary-color: #d9dcd6;
  --secondary-color: black;
  --tertiary-color: #0a5386;
  --fourth-color: #c32571;
}

/* Universal Selector */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Element Selectors */
body {
  color: var(--tertiary-color);
  font-family: 'Roboto Condensed', sans-serif;
}

section {
  padding: 20px;
}

/* Grouped CSS */
.nav-bar,
.nav-bar nav ul,
.hero,
.about-me,
.work,
.contact-me,
.column,
.container,
.footer {
  display: flex;
  flex-wrap: wrap;
}
.about-me-text,
.work-text,
.contact-me-text {
  font-size: 2em;
  text-align: center;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1130px) {
  .column {
    padding: 0 10em;
  }
}

@media screen and (max-width: 1000px) {
  .column {
    padding: 0;
  }

  .about-me-text,
  .work-text,
  .contact-me-text {
    margin-bottom: 15px;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 815px) {
  .nav-bar nav ul li a {
    font-size: 1em;
  }

  .nav-bar h1 {
    font-size: 1.5em;
  }

  .nav-bar .logo {
    width: 1.5em;
  }

  .container {
    flex-wrap: nowrap;
  }

  .container h3 {
    padding: 0 5px;
  }
  .work p {
    font-size: 0.5em;
  }

  .column img {
    max-width: 250px;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .nav-bar nav ul li a {
    font-size: 0.8em;
    padding: 0 5px;
  }

  .nav-bar h1 {
    font-size: 1em;
    padding-top: 0.6em;
  }

  .nav-bar .logo {
    width: 2.5em;
  }

  .container h3,
  .about-me-body p {
    font-size: 0.8em;
  }

  .about-me-text,
  .work-text,
  .contact-me-text {
    font-size: 2em;
  }

  .hero-cta {
    font-size: 1.5em;
    padding-right: 35px;
  }

  .column img {
    max-width: 120px;
  }
}

@media screen and (max-width: 400px) {
  .nav-bar nav ul li a {
    font-size: 0.5em;
  }
}
